body {
  background-color: rgb(227, 225, 243);
  padding-bottom: 30px;
}

h3 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  color: rgba(228, 24, 126, 0.7);
  text-align: auto;
}

table {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  width: 40%;
  margin: auto;
  padding-top: 5px 5px 5px 5px;
  min-width: 200px;
  max-width: 600px;
}
